{% extends "layout.html" %}
{% block content %}

<div class = 'text-container'>
    <img src="{{ url_for('static', filename='images/photo.png') }}" alt="Image 1" class="image1">
    <div class="top_part">
        <h2>This is Hanlu ...</h2>
        <p>I graduated from University of British Columbia, majoring in Cognitive System, which is multidisciplinary program combining 
        Cognitive Psychology, Computer Science, Philosophy and Linguistics. The passion of improving my technoogy skills brings me to
        New York University, Tandon School of Engineering as a master students mainly focusing on machine learning, and software programming. 
        This transfer from one to another field is not easy, I'm trying my best to be closer to my GOAL!!
        </p><p>I'm also a runner, dancer. I like piano, guitar, tennis (even though I'm still a tennis learnner), going gyms, hiking. 
            I would like to explore city, therefore I'm a fan of travelling. If you share somehow same hobbies with me, Let's do thme together!!
        </p>
    </div>
   
</div>

<section>
    <div class='container'>
        <h3 style="font-size: x-large;">Something For Today</h3>
        <p>Que Sera Sera</p>
    </div>
</section>



{% endblock%}