header {
    background-color: #fbfafbd5; /* Replace with your desired background color */
    color: #100a0a; /* Set text color for better visibility */
    padding: 5px; /* Optional: Add padding for better visual appearance */
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
    background-size: 40% auto;
    font-display: center;
    margin-left: 60px;
}
.dictionary {
    text-align: right; /* Align the subtext to the right */
    
}
.head_section {
    font-display: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-image: url('bgimage1.jpeg');
    background-size: 70% auto;
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
    padding: 150pt;
}
